<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="dev.konraditurbe.osmosis.panorama.PanoramaVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="sensorLandscape"
            android:exported="false" />

        <meta-data
            android:name="dev.konraditurbe.osmosis.module.panorama360"
            android:value="dev.konraditurbe.osmosis.panorama.Panorama360Module" />
    </application>
</manifest>
