<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name="dev.pillar.osmodule.panorama.PanoramaVideoActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden"
            android:screenOrientation="fullSensor"
            android:exported="false" />
    </application>
</manifest>
